pyresparser~=1.0.6
numpy~=1.20.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
python-docx
docx~=0.2.4
pandas~=1.4.3
nltk~=3.7
sklearn~=0.0
ftfy~=6.1.1
flask~=1.1.4
docx
scikit-learn~=1.0.2
spacy~=2.3.5
tqdm
selenium
bs4
beautifulsoup4
enlighten
flask
numpy
sklearn
gunicorn
pandas
joblib~=1.1.0
scikit-learn
markupsafe
stopwords
corpora
corpus
stopwords
ansicon
async-generator
attrs
beautifulsoup4
blessed
blis
bs4
catalogue
certifi
cffi
chardet
charset-normalizer
click
colorama
Corpora
Corpus
cryptography
cymem
docx
docx2txt
enlighten
Flask
ftfy
gunicorn
h11
idna
itsdangerous
Jinja2
jinxed
joblib
jsonschema
langcodes
lxml
MarkupSafe
murmurhash
nltk
numpy
outcome
p5py
packaging
pandas
pathy
pdfminer.six
pep517
Pillow
prefixed
preshed
pycparser
pycryptodome
pydantic
pyparsing
pyresparser
pyrsistent
PySocks
python-dateutil
python-docx
pytz
regex
requests
scikit-learn
scipy
selenium
six
sklearn
smart-open
sniffio
sortedcontainers
soupsieve
spacy-legacy
spacy-loggers
srsly
spacy==2.3.5
stopwords
thinc
threadpoolctl
tomli
tqdm
trio
trio-websocket
typer
typing_extensions
urllib3
wasabi
wcwidth
Werkzeug
wsproto
pyshorteners~=1.0.1
re
url_shortner